@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-socialButtonsBlockButtonText__google {
    filter: invert(1);
}

.cl-socialButtonsBlockButtonText__github {
    filter: invert(1);
}

.cl-providerIcon__github{
    filter: invert(1);
}

.clerk-user-button .clerk-manage-account {
    color: white; /* Change this to your desired color */
     /* Optional: Change this to your desired background color */
    /* Add any other styles you need */
}

.cl-button__manageAccount ,.cl-button__signOut{
    color:white
}

.cl-userButtonAvatarImage , .cl-avatarImage,.cl-avatarBox{
    height: 50px;
    width: 50px;
}